<a href="https://colab.research.google.com/github/CodingCat-Jung/2024-2_BigDataProgramming_Class/blob/main/%EB%B9%85%EB%8D%B0%EC%9D%B4%ED%84%B0%ED%94%84%EB%A1%9C%EA%B7%B8%EB%9E%98%EB%B0%8D_11%EC%A3%BC%EC%B0%A8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

url = 'https://raw.githubusercontent.com/sehakflower/data/main/titanic.csv'

titanic_df = pd.read_csv(url, sep='\t')
titanic_df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
151,152,1,1,"Pears, Mrs. Thomas (Edith Wearne)",female,22.0,1,0,113776,66.6000,C2,S
152,153,0,3,"Meo, Mr. Alfonzo",male,55.5,0,0,A.5. 11206,8.0500,NaN,S
153,154,0,3,"van Billiard, Mr. Austin Blyler",male,40.5,0,2,A/5. 851,14.5000,NaN,S
154,155,0,3,"Olsen, Mr. Ole Martin",male,NaN,0,0,Fa 265302,7.3125,NaN,S
155,156,0,1,"Williams, Mr. Charles Duane",male,51.0,0,1,PC 17597,61.3792,NaN,C

In [2]:
import pandas as pd

url = 'https://github.com/sehakflower/data/blob/main/titanic.xlsx?raw=true'

titanic_df = pd.read_excel(url, sheet_name = 'titanic3')
titanic_df

,pclass,survived,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,boat,body,home.dest
0,1,1,"Allen, Miss. Elisabeth Walton",female,29.0000,0,0,24160,211.3375,B5,S,2,NaN,"St Louis, MO"
1,1,1,"Allison, Master. Hudson Trevor",male,0.9167,1,2,113781,151.5500,C22 C26,S,11,NaN,"Montreal, PQ / Chesterville, ON"
2,1,0,"Allison, Miss. Helen Loraine",female,2.0000,1,2,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"
3,1,0,"Allison, Mr. Hudson Joshua Creighton",male,30.0000,1,2,113781,151.5500,C22 C26,S,NaN,135.0,"Montreal, PQ / Chesterville, ON"
4,1,0,"Allison, Mrs. Hudson J C (Bessie Waldo Daniels)",female,25.0000,1,2,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1304,3,0,"Zabour, Miss. Hileni",female,14.5000,1,0,2665,14.4542,NaN,C,NaN,328.0,NaN
1305,3,0,"Zabour, Miss. Thamine",female,NaN,1,0,2665,14.4542,NaN,C,NaN,NaN,NaN
1306,3,0,"Zakarian, Mr. Mapriededer",male,26.5000,0,0,2656,7.2250,NaN,C,NaN,304.0,NaN
1307,3,0,"Zakarian, Mr. Ortin",male,27.0000,0,0,2670,7.2250,NaN,C,NaN,NaN,NaN
1308,3,0,"Zimmerman, Mr. Leo",male,29.0000,0,0,315082,7.8750,NaN,S,NaN,NaN,NaN

In [6]:
import pandas as pd

url = 'https://github.com/sehakflower/data/blob/main/titanic.xlsx?raw=true'

titanic = pd.read_excel(url, sheet_name = 'titanic3')
titanic.head()
# head() / tail() 실데이터 미리보기 가능. default = 5
# 인자값으로 정수를 지정하면 해당하는 라인 수 만큼 표시

titanic.shape
titanic.info()
titanic.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1309 entries, 0 to 1308
Data columns (total 14 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   pclass     1309 non-null   int64
 1   survived   1309 non-null   int64
 2   name       1309 non-null   object
 3   sex        1309 non-null   object
 4   age        1046 non-null   float64
 5   sibsp      1309 non-null   int64
 6   parch      1309 non-null   int64
 7   ticket     1309 non-null   object
 8   fare       1308 non-null   float64
 9   cabin      295 non-null    object
 10  embarked   1307 non-null   object
 11  boat       486 non-null    object
 12  body       121 non-null    float64
 13  home.dest  745 non-null    object
dtypes: float64(3), int64(4), object(7)
memory usage: 143.3+ KB

,pclass,survived,age,sibsp,parch,fare,body
count,1309.000000,1309.000000,1046.000000,1309.000000,1309.000000,1308.000000,121.000000
mean,2.294882,0.381971,29.881135,0.498854,0.385027,33.295479,160.809917
std,0.837836,0.486055,14.413500,1.041658,0.865560,51.758668,97.696922
min,1.000000,0.000000,0.166700,0.000000,0.000000,0.000000,1.000000
25%,2.000000,0.000000,21.000000,0.000000,0.000000,7.895800,72.000000
50%,3.000000,0.000000,28.000000,0.000000,0.000000,14.454200,155.000000
75%,3.000000,1.000000,39.000000,1.000000,0.000000,31.275000,256.000000
max,3.000000,1.000000,80.000000,8.000000,9.000000,512.329200,328.000000

In [30]:
import pandas as pd

url = 'https://raw.githubusercontent.com/sehakflower/data/main/titanic.csv'

titanic_df = pd.read_csv(url, sep='\t')

new_columns = ['passengerId', 'survived', 'pclass', 'name', 'sex', 'age', 'sibsp',
       'parch', 'ticket', 'fare', 'cabin', 'embarked']

titanic_df.columns = new_columns
titanic_df.columns

copy_titanic_df = titanic_df.copy()
# 복사본 데이터프레임 만들어놓기
copy_titanic_df.head()

# copy_titanic_df['새로운 열 이름'] = []

# 행 추가하기 - appand()
# new_data = {'passid': , ... }
# copy_titanic_df.appand(new_data)

copy_titanic_df['gender'] = 1
copy_titanic_df.head()

copy_titanic_df.index
copy_titanic_df.values

copy_titanic_df.sort_index(ascending=False)

copy_titanic_df.sort_values(by='age', ascending=False)
copy_titanic_df.sort_values(by=['age', 'pclass'], ascending=False)

# 행에서 지정된 범위만큼 읽어오기 [시작인덱스:종료인덱스:간격]
copy_titanic_df[0:5] # 0 ~ 4
copy_titanic_df[0:1]
copy_titanic_df[::3] # 3개씩 건너서 출력
copy_titanic_df[::-1] # 역순으로 출력

# 열에서 지정된 범위만큼 읽어오기
copy_titanic_df[copy_titanic_df.columns[4]][0:5]
copy_titanic_df['name'][0:5]
copy_titanic_df[['name', 'age']][0:5]

# print( copy_titanic_df[copy_titanic_df.columns[4]]   [3] )
# print( copy_titanic_df['age']   [3] )
# print( copy_titanic_df[copy_titanic_df.columns[4]]   [::-1] )

copy_titanic_df.loc[0]
copy_titanic_df.loc[0:5]

copy_titanic_df.set_index('name')
copy_titanic_df.reset_index()

,index,passengerId,survived,pclass,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,gender
0,0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,1
1,1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,1
2,2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,1
3,3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,1
4,4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
151,151,152,1,1,"Pears, Mrs. Thomas (Edith Wearne)",female,22.0,1,0,113776,66.6000,C2,S,1
152,152,153,0,3,"Meo, Mr. Alfonzo",male,55.5,0,0,A.5. 11206,8.0500,NaN,S,1
153,153,154,0,3,"van Billiard, Mr. Austin Blyler",male,40.5,0,2,A/5. 851,14.5000,NaN,S,1
154,154,155,0,3,"Olsen, Mr. Ole Martin",male,NaN,0,0,Fa 265302,7.3125,NaN,S,1
155,155,156,0,1,"Williams, Mr. Charles Duane",male,51.0,0,1,PC 17597,61.3792,NaN,C,1

In [39]:
import pandas as pd

url = 'https://github.com/sehakflower/data/blob/main/titanic_1309.xlsx?raw=true'
titanic = pd.read_excel(url, sheet_name = 'total')
titanic

t_1000 = titanic.iloc[0:1000]
t_309 = titanic.iloc[1000:]

t_1000.to_csv('t_1000.csv')
t_309.to_csv('t_309.csv')

total_df = pd.concat([t_1000, t_309])
total_df

df1 = t_1000[['name', 'pclass', 'sex', 'age']]
df2 = t_1000[['name', 'survived']]

merge_df = pd.merge(df1, df2, on='name')
merge_df

titanic.isna().sum()

pclass          0
survived        0
name            0
sex             0
age           263
sibsp           0
parch           0
ticket          0
fare            1
cabin        1014
embarked        2
boat          823
body         1188
home.dest     564
dtype: int64

In [53]:
import pandas as pd
from datetime import datetime, date, time

file_list = ['2009_hr.xlsx', '2010_hr.xlsx', '2011_hr.xlsx', '2012_hr.xlsx', '2013_hr.xlsx', '2014_hr.xlsx', '2015_hr.xlsx', '2016_hr.xlsx']

df = pd.DataFrame()

for f in file_list:
  data = pd.read_excel(f)
  df = pd.concat([df, data])

# df.info()
# df.describe()

df2 = df.reset_index(drop=True)
# df2.info()
df2.head()

df['Date'] = pd.to_datetime(df['날짜'], format = '%Y%m%d') + pd.to_timedelta(df['시간'].astype(int), unit = 'h')

df.set_index(df['Date'], inplace = True)

df1 = df[['수온(℃)', '수위(el.m)', 'EC(㎲/㎝)']]
df1.columns = ['temp', 'level', 'EC']

df1.isnull().sum

df1.to_csv('water.csv', encoding= 'cp949')

/usr/local/lib/python3.10/dist-packages/openpyxl/styles/stylesheet.py:237: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
/usr/local/lib/python3.10/dist-packages/openpyxl/styles/stylesheet.py:237: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
/usr/local/lib/python3.10/dist-packages/openpyxl/styles/stylesheet.py:237: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
/usr/local/lib/python3.10/dist-packages/openpyxl/styles/stylesheet.py:237: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
/usr/local/lib/python3.10/dist-packages/openpyxl/styles/stylesheet.py:237: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
/usr/local/lib/python3.10/dist-packages/openpyxl/styles/stylesheet.py:237: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
/usr/local/lib/python3.10/dist-packages/openpyxl/styles/stylesheet.py:237: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
/usr/local/lib/python3.10/dist-packages/openpyxl/styles/stylesheet.py:237: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")